
  body {
    background: linear-gradient(#033a44, #095461, #176472, #2b8a9b) fixed;
}


header{
  background: linear-gradient(#022127, #02161a, #041214, #031013) fixed;
  padding: 1rem;

}

header h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  font-size: 50px;
}

nav{
  background-color: rgb(153, 88, 4);
  padding: 1rem;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(54, 18, 0);
  border-radius: 10Px;
  padding: 0.7rem;
}

li a:hover{
  background-color: rgb(224, 198, 224);
}

ul li{
  padding: 0.5rem;
  list-style: none;
  margin-top: 5px;
}

.container{
  margin: auto;
  margin-top: 1rem;
  max-width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 60PX;

}

footer{
  color: rgb(0, 0, 0);
  text-align: center;
}

td{
  border: 3.5px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 0.5rem;
  text-align: center;
}
header h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Times, serif;
  color: rgb(0, 0, 0);
  font-size: 50px;
}
  

.container h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

label{
  text-align: center;
  color: rgb(0, 0, 0);
  padding-bottom: 0.05rem;
  font-family: cursive;
  font-size: 20px;
}

h1 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}